<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" />
    <link rel="stylesheet" href="/css/style.css" >
    <title>Sentiment Detector</title>
</head>
<body>

<div class="main-content">
      <h1 class="text-center">Sentimental</h1>
      <p class="text-center">An app that detects sentiments from a piece of text</p>
        <div class="app-functionality__container">
            <div class="form-section">
                <form>
                    <div class="form-group">
                        <label for="textarea">Text (in English)</label>
                        <textarea class="form-control" placeholder="your text." id="textareaInput" rows="3"></textarea>
                    </div>
                    <br />
                    <button id="btn-submit" type="submit" class="btn btn-primary btn__styles">Submit</button>
                </form>
            </div>
            <div class="img-container">
                <img src="/img/neutral.jpg" id="sentiment-indicator" alt="some image" class="img-fluid">
            </div>
        </div>
  </div>
    <script src="/js/app.js"></script>
</body>
</html>